body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

video {
  object-fit: fill;
  width: 200px;
}

table, tr, td, th {margin: 0;border: 0;padding: 5px;border-collapse: collapse;}

li {
    list-style-type: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

li:hover {
  cursor: pointer;
  background-color: #aaa;
}

.localStream {
  display: inline-block;
  top: 15px;
  right: 15px;
  float: right;
}

.localStream video {
    outline: 0px none;
    height: 240px;
    width: 320px;
}

.remoteStreams{
  display: inline-block;
  top: 15px;
  right: 15px;
  float: left;
  height: 240px;
  width: 320px;
  text-align: center;
}

.remoteStreams td:hover {
  cursor: pointer;
}

.remoteStreams .selected {
  background-color: #444 !important;
  text-shadow:none;
  border-right-color: #aaa;
  border-left: none;
  border-radius: 20px; 
  /*box-shadow:inset 1px 2px 6px #070707;*/
}

.footer {
   clear: both;
}